<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="" class="simple-text logo-normal">
                <img width="100" height="90" src="../Content/img/logo.jpg">
                <strong style="color:#ba8b18">ADMIN</strong>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="~/Home/Categorias">
                    <i style="color:#ba8b18" class="nc-icon nc-single-copy-04"></i>
                    <p style="color:#ba8b18">Agregar Categoría</p>
                </a>
            </li>
            <li class="active">
                <a href="">
                    <i class="nc-icon nc-bank"></i>
                    <p>inicio</p>
                </a>
            </li>
            <li class="active ">
                <a href="/">
                    <i class="nc-icon nc-bank"></i>
                    <p>inicio</p>
                </a>

            </li>
        </ul>
    </div>
</div>

